@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua do IPG<br />
    ESTG - IPG.pt<br />
    <abbr title="Phone">P:</abbr>
    56435453.3635364
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Geral@ipg.pt">Geral@ipg.pt</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ipg.pt">Marketing@ipg.pt</a>
</address>
